body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: yellowgreen;
}

h1 {
  color: black;
  background: orange;
  font-size: 80px;
  background-image: url('/images/overlay.svg');
  background-size: cover;
}
::selection {

  color: $color_white;
}

button {
  cursor: pointer;
}

#content {
  .wrapper {

    & > *:first-child {
      margin-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
    }

  }

  /* Lists */

  ul, ol {


    li {

    }
  }

  ul li:before {

  }

  ol {


    li:before {

    }
  }

}
